extends layout

block content
  h1 ingrese datos para entrar
  form(action="/login", method="post")
    div
      label(for="email") Email
      input(type="email", name="email", id="email")

    div
      label(for="password") Password
      input(type="password", name="password", id="password")

    button(type="submit") ingresar